.root {
    -fx-background-color: #30336b; /* Fondo oscuro típico de una Pokédex */
}

.label {
    -fx-text-fill: #dcdde1; /* Color del texto */
    -fx-font-size: 24px;
    -fx-font-weight: bold; /* Negrita */
    -fx-padding: 10px;
    -fx-background-color: #DC0A2D; /* Fondo rojo */
    -fx-border-color: #ffffff; /* Borde blanco */
    -fx-border-width: 2px;
    -fx-alignment: center; /* Centrar el texto */
}

.table-view {
    -fx-background-color: #dfe6e9; /* Fondo claro para contraste */
    -fx-border-color: #2f3640; /* Borde oscuro */
}

.table-column {
    -fx-alignment: center;
    -fx-pref-width: 150px; /* Ancho fijo */
}

.image-view {
    -fx-border-color: #ffffff; /* Borde blanco */
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

.text-area {
    -fx-background-color: #dfe6e9; /* Fondo claro */
    -fx-text-fill: #2f3640; /* Texto oscuro */
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: #2f3640; /* Borde oscuro */
    -fx-border-width: 2px;
}
